#post_content
    %h1= @post.title
    %hr
    .body_container
        %p= @post.body
    #post_controls
        - if user_signed_in?
            = link_to "Edit", edit_post_path(@post), class: "buttons"
            -# Note that you must put the data on a single line. Line break curly brackets doesn't work.
            = link_to "Delete", post_path(@post), class: "buttons", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to do this?" }
        = link_to "Home", root_path, class: "buttons"
    #comments 
        %h3 Reply to thread
        = render "comments/form", post: @post

        %h2= "#{@post.comments.count} replies to this post."
        - @comments.each do |comment|
            = render 'comments/comment', post: @post, comment: comment
        -# = render @post.comments

        


