!!!
%html
%head
  %title Professional Gamers
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag "application", "data-turbo-track": "reload"
  = javascript_importmap_tags
  %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
  %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
  %link{:href => "https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap", :rel => "stylesheet"}/
%body
  .scrolling-image-container
    .scrolling-image
      .grid
        .x1
        .x2
        .x3
        .x4
        .x5
        .x6
        .x7
        .x8
  %header.main_header.clearfix
    .wrapper
      #logo 
        %p= link_to "Professional Gamers", root_path
      #buttons 
        - if user_signed_in?
          = link_to "New Post", new_post_path
          =link_to "Sign Out", destroy_user_session_path, method: :delete

        -else
          =link_to "Sign Up",new_user_registration_path
          =link_to "Sign In",new_user_session_path
  
  .absolute
    -# %p.notice= notice
    -# %p.alert=alert
    .wrapper
    =yield


